# Breez SDK Configuration
BREEZ_API_KEY="YOUR_BREEZ_API_KEY"
GREENLIGHT_PARTNER_CERT="YOUR_GREENLIGHT_PARTNER_CERT_IN_HEX"
GREENLIGHT_PARTNER_KEY="YOUR_GREENLIGHT_PARTNER_KEY_IN_HEX"
BREEZ_MNEMONIC="your twelve word breez mnemonic seed phrase here"
